# Ignore everything except specific files and directories.
*
!/wp-content/themes
!/wp-content/plugins
!/wp-content/index.php


mu-plugins/
uploads/
upgrade/
mysql.sql
advanced-cache.php
**/.DS_Store
**/dwsync.xml
**_notes/**
