.program-box {
  display: flex;
  flex-wrap: wrap;
  border: 20px solid white;
  box-shadow: 0 4px 9px -2px #ccc;
  background: white;

}


@media screen and (min-width:991px) {
  .program-box > * {
    width: 50%;
  }

  .program-box {
    margin-top: -100px;
  }

  .single-programs .container .description {
    margin: 50px 100px;
  }
}

.program-box .program-right {
  padding: 20px 50px;
}

.program-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.program-box h3 {
  color: #000;
}

.single-programs .description {
  margin: 30px;
}
