.cta-item {
  display: flex;
  color: white;
  margin: 25px 0;
}

.cta-content {
  width:66%;
  background: #468080;
  color: white;
  padding: 60px;
}

.cta-content h3, .cta-content p {
  color: white;
}

.cta-image {
  width: 34%;
}

.cta-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
