@import "_typography.css";
@import "_header.css";
@import "_footer.css";
@import "_forms.css";
@import "_accordion.css";
@import "_small-cta.css";
@import "_sponsors.css";

body {  }

.btn { padding-left: 25px; padding-right: 25px; border-radius: 0px; border-width: 2px; }
.btn-outline { }

.screen-reader-text { border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; clip-path: none; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }

.screen-readers { position: absolute !important; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; word-break: normal !important; overflow: hidden; clip: rect(0 0 0 0); }
.section { padding-top: 55px; padding-bottom: 40px; }

.bg_fill { background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

#primary { padding-top: 60px; padding-bottom: 40px; }

.content-area blockquote { padding-left: 110px; text-align: center; background: url("../../images/dist/blockquote_open.png") left 0px top 50% no-repeat; }
.content-area blockquote p { padding-right: 110px; font-size: 1.66em; color: #231f20; background: url("../../images/dist/blockquote_close.png") right 0px top 50% no-repeat; }
.content-area blockquote cite {  }

.home.feature { padding: 55px 55px 165px 55px; }
.home.feature .image .content { padding-right: 20px; }
.home.feature .content, .home.feature .content p { color: #ffffff; }
.home.feature h1 { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 2px solid #7f58a5; }
.home.feature .content p.date { margin-bottom: 15px; }

.home.featured_shows { margin-top: -110px; padding-left: 55px; padding-right: 55px; }
.home.featured_shows h2 { margin-bottom: 22px; color: #ffffff; }
.home.featured_shows .featured_show { margin-bottom: 25px; background: #ffffff; padding: 10px; -webkit-box-shadow: 0px 4px 30px -5px rgba(66,79,82,0.4); -moz-box-shadow: 0px 4px 30px -5px rgba(66,79,82,0.4); box-shadow: 0px 4px 30px -5px rgba(66,79,82,0.4); }
.home.featured_shows .featured_show .image { }
.home.featured_shows .featured_show .image img { width: 100%; height: auto; }
.home.featured_shows .featured_show .date { margin: 0px; padding: 7px 12px; background: #231f20; font-size: .88em; color: #ffffff; }
.home.featured_shows .featured_show .info { padding: 20px 12px 0px 12px; }
.home.featured_shows .featured_show .info p { margin-bottom: 15px;}
.home.featured_shows .featured_show a { text-decoration: underline; color: #231f20; }
.home.featured_shows .featured_show a:hover { text-decoration: none; color: #231f20; }

.home.recents { margin-top: 50px; margin-bottom: 50px; padding-left: 55px; padding-right: 55px; }
.home.recents h2 { margin-bottom: 35px; }
#upcoming_events { }
#upcoming_events ul { margin: 0px; padding: 0px; }
li.event_item { margin: 0px 0px 25px 0px; padding: 0px; list-style: none; border: 2px solid #7f58a5; }
li.event_item .date_info { padding-top: 28px; background: #7f58a5; text-align: center; font-size: .88em; text-transform: uppercase; color: #ffffff; font-weight: bold; }
li.event_item .date_info span.date { font-size: 1.33em; }
li.event_item .text { padding: 20px 25px 0px 25px; }
li.event_item .text h3 a { text-decoration: underline; color: #231f20; }
li.event_item .text h3 a:hover { text-decoration: none; color: #231f20; }
#latest_news { }
#latest_news ul { margin: 0px; padding: 0px; }
#latest_news ul li { margin: 0px; padding: 0px; list-style: none; }
li.news_item .image img { width: 100%; height: auto; }
p.meta { margin: 0px 0px 16px 0px; border-top: 2px solid #7f58a5; }
p.meta span { padding: 6px 15px; }
p.meta span.flag { background: #7f58a5; color: #ffffff; }
p.meta span.flag a { text-decoration: underline; color: #ffffff;  }
p.meta span.flag a:hover { text-decoration: none; }
p.meta span.date { font-weight: bold; }
li.news_item .text h3 { }
li.news_item .text a { text-decoration: underline; color: #231f20; }
li.news_item .text a:hover { text-decoration: none; color: #231f20; }

.home.callout { margin-bottom: 65px; padding: 45px 55px 0px 55px; background: #468080; }
.home.callout .image { }
.home.callout .image img { margin-bottom: -25px; -webkit-box-shadow: 0px 5px 20px -2px rgba(66,79,82,0.2); -moz-box-shadow: 0px 5px 20px -2px rgba(66,79,82,0.2); box-shadow: 0px 5px 20px -2px rgba(66,79,82,0.2); }
.home.callout .text { }
.home.callout .text .content { padding-top: 20px; }
.home.callout .text .content p { color: #ffffff; }
.home.callout .text .content h2 { color: #ffffff; }

.home.sponsors { margin-bottom: 50px; padding: 0px 55px 0px 55px; }

@media screen and (max-width:991px) {
	.menu-container { padding-top: 0px; padding-bottom: 0px; }
	.site-header-menu { background: none; text-align: left; }
	.site-header-menu .main-navigation { margin: 0px; background-color: #231f20; }
	.site-header-menu .main-navigation ul { padding-bottom: 18px; }
	.site-header-menu .main-navigation ul li { margin-right: 0px; padding: 10px 3px; border-bottom: 1px solid #eff1f5; }
	.site-header-menu .main-navigation ul li:last-child { border-bottom: none; }
	.site-header-menu .main-navigation ul li button { color: #7f58a5; }
	.site-header-menu .main-navigation button.dropdown-toggle { right: 15px; }
	.site-header-menu .main-navigation ul ul { padding: 0px 0px 0px 0px; }
	.site-header-menu .main-navigation ul ul li { padding: 5px 0px; border-bottom: none; }
	.site-header-menu .main-navigation ul ul li a { font-size: .88em; }
	.menu-button { position: absolute; top: -60px; right: 15px; }

	.home.feature { padding-top: 15px; padding-left: 15px; padding-right: 15px; }
	.home.feature .image { margin-bottom: 25px; }
	.home.feature .image .content { padding-right: 0px; }
	.home.featured_shows { padding-left: 15px; padding-right: 15px; }
	.home.recents { margin-top: 30px; padding-left: 15px; padding-right: 15px; }

	.home.callout { margin-bottom: 40px; padding: 20px 15px 20px 15px;  }
	.home.callout .image img { margin-bottom: 0px; }
}

button.able-button-handler-slower, button.able-button-handler-faster, .able-duration, .able-speed, button.able-button-handler-restart, button.able-button-handler-forward, button.able-button-handler-rewind, .able-seekbar-wrapper {
  display: none;
}

.able-status-bar {
	height: 2.5em;
}
